.container {
  position: relative;
  height: 250px;
  background-color: #f9f9f9;
}

.icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  fill: #ccc;
}

.inputContainer {
  position: relative;
  height: 100%;
  & input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.previewContainer {
  width: 100%;
  height: 100%;
  & .preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
